<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331199458552-4dbt7o0bdrcajrk1rjk856u1h1egaf2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331199458552-4dbt7o0bdrcajrk1rjk856u1h1egaf2i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331199458552-75216t81j7bhlgh2ten0nasigb3b3mpd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2-x1-0dAnFcQ264F9WWv3oTQlCwDDS0k</string>
	<key>GCM_SENDER_ID</key>
	<string>331199458552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amoraMobileApp</string>
	<key>PROJECT_ID</key>
	<string>amora-6a0e1</string>
	<key>STORAGE_BUCKET</key>
	<string>amora-6a0e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331199458552:ios:1696e44b0c8b71c74d5f0d</string>
</dict>
</plist>